.b20{
    margin-left:20px;
    width:200px;
    border-style: double;
     display:grid;
    grid-template-columns: auto auto;
    background-color: white;
    gap:10px;
    padding:10px;
}
.b20 div{
   width:min-content;
   padding:10px;
    border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position:relative;
    background-color: orange;
}
.show4{
    margin-left:20px;
    margin-right:20px;
    padding:1px;
    
    background-color: white;
}