/*.outer{
display:flex;
flex-direction: row;
height:100%;
border:2px groove ;
position:relative;
}*/

.outer {
 height: 100vh;       /* 100% of viewport height */
  width: 100vw;        /* 100% of viewport width */
  border: 2px groove;
  box-sizing: border-box; /* include border in dimensions */
  position: relative;
  display:flex;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.inner{
    border:2px groove black; 
    position:relative;
    flex:1;
    padding:0px;
    overflow-y: auto;
}
.inner1{
    width:40%;
    background-color: #F37438;
}
.form{
    

    position:relative;
    height:300px;
    width:max-content;
  padding:10px;
    margin-left:30%;
    margin-top:10%;
    align-items: center;

}
.textbox{
    
    position:relative;
    
    margin-top:15px;
   width:325px;
}
input[type="text"]{
    padding:8px 10px;
    width:300px;
    position:relative;
  border-radius:5px;
    border: 1px solid #ccc; 
    outline:none;
}
input[type="password"]{
    padding:8px 10px;
    width:300px;
    position:relative;
  border-radius:5px;
    border: 1px solid #ccc; 
    outline:none;
}
button{
    margin-top:20px;
    width:250px;
    padding:8px 10px;
    background-color: #F37438;
    color:#ffffff;
    border-radius: 4px;
    border:none;
}
.form p{
   text-align: center;
   margin:20px;
   position:relative;
}
.p1{
    color:#131b2e;
    font-size: 22px;
    font-weight: bold;
}
.p2{
    color:#6B7280;
    font-size: 14px;
}
.textbox label{
    color:#131b2e;
    text-transform: capitalize;
}
.fp,.reg{
    display: flex;
    justify-content: flex-end; 
    font-size:14px;
    margin-top:10px;
    color: #F37438;
}
.reg{
    justify-content: center; 
    color:#131b2e;
}
.link{
    color: #F37438;
    text-decoration: none;
}
.error{
   
    color:red;
    font-size:15px;
}
@media (max-width: 700px) {
  .textbox{
    
    position:relative;
    margin-left: 20px;
    margin-top:15px;
   width:150px;
}
input[type="text"]{
    padding:8px 10px;
    width:220px;
    position:relative;
  border-radius:5px;
    border: 1px solid #ccc; 
    outline:none;
}
input[type="password"]{
   padding:8px 10px;
    width:220px;
    position:relative;
  border-radius:5px;
    border: 1px solid #ccc; 
    outline:none;
}
button{
    margin-top:20px;
    margin-left:20px;
    padding:8px 10px;
    background-color: #F37438;
    color:#ffffff;
    border-radius: 4px;
    border:none;
}
.form{
    

    position:relative;
    height:300px;

  padding:10px;
   margin: 10px auto;
    align-items: center;
}
.icon {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center;     /* vertically center */
}

.icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  margin-top: 10px;
}
.inner{
    border:2px groove black; 
    position:relative;
    flex:1;
    padding:0px;
    overflow-y: auto;
}

}